.header{
    margin-top:  5%;
}

.counter{
    font-weight: bold;
}

/* .btn{
    width: 20%;
} */

.items td .btn {
    width:80%;
   
}
tr :hover{
    cursor: pointer;
}

.container-fluid
{
    width: 95%;
}

#announcementDate
{
    position: absolute;
    left: 5%;
}