.header{
    margin-top:  5%;
}

.counter{
    font-weight: bold;
}

.items td .btn {
    width:80%;
   
}
tr :hover{
    cursor: pointer;
}

.container-fluid
{
    width: 95%;
}

#announcementDate, #announcementDate1  
{
    position: absolute;
    left: 5%;
}

